# docker-compose.yml

version: '3.8' # Specifies the docker-compose version

services: # This is where we define our containers
  
  # 1. The API Service
  api:
    build: . # Build the image from the Dockerfile in this directory
    container_name: churn-api
    ports:
      - "8000:8000" # Map host port 8000 to container port 8000
    volumes:
      - ./models:/app/models # Mounts the models folder (so you can update the model)
    restart: always # Always restart the container if it crashes

  # 2. The Prometheus Service
  prometheus:
    image: prom/prometheus:latest # Use the official Prometheus image
    container_name: prometheus
    ports:
      - "9090:9090" # Map host port 9090 to container port 9090
    volumes:
      # Mount a config file from our local machine into the container
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always

  # 3. The Grafana Service
  grafana:
    image: grafana/grafana-oss:latest # Use the official Grafana image
    container_name: grafana
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    restart: always